<section class="blog-title-section">
    <div class="container">
        <div class="blog-title-container">
            <div class="blog-title__header">
                <h1>Blog</h1>
            </div>
            <div class="blog-title__navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><span>Blog</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 26rem;">
                    <a href="#">
                        <img class="card-img-top" src="~/assets/images/blog-1.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text"><a href="#">Unique products that will impress your home in
                                2022.</a>
                        </h5>
                        <hr>
                        <span>November 27, 2023</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="blogs-load-more">
                <button type="button">Load More</button>
            </div>
        </div>
    </div>
</section>