@model BlogVM

<section class="blog-title-section">
    <div class="container">
        <div class="blog-title-container">
            <div class="blog-title__header">
                <h1>Blog</h1>
            </div>
            <div class="blog-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" >Home</a></li>
                    <li><span>Blog</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="row" id="blog-container">
            <partial name="_BlogPartial" />
        </div>
        <div class="row justify-content-center">
            <div class="pagination">
                <button page-id="1" class="active-btn blog-page">1</button>
                <button page-id="2" class="blog-page">2</button>
            </div>
        </div>
    </div>
</section>