<section class="contact-title-section">
    <div class="container">
        <div class="contact-title-container">
            <div class="contact-title__header">
                <h1>Contact</h1>
            </div>
            <div class="contact-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Contact</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="single-contact">
                    <span><i class="fa-regular fa-clock"></i></span>
                    <div class="single-contact-info">
                        <h2>Open houses</h2>
                        <p>Mon – Fri : 8:30 – 18:00 <br> Sat – Sun : 9:00 – 17:00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-contact">
                    <span><i class="fa-solid fa-phone"></i></span>
                    <div class="single-contact-info">
                        <h2>Phone number</h2>
                        <p>(504) 586 256 23 <br> (306) 574 326 56</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-contact">
                    <span><i class="fa-regular fa-envelope"></i></span>
                    <div class="single-contact-info">
                        <h2>Our email</h2>
                        <p>office@helendo.com <br> Info@helendo.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-contact">
                    <span><i class="fa-solid fa-location-dot"></i></span>
                    <div class="single-contact-info">
                        <h2>Our location</h2>
                        <p>1102 Helen Estates, Guys <br> Store, San Diego, USA.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="get-touch-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="contact-form-wrap">
                    <h2>Get in touch</h2>
                    <p>Write us a letter !</p>
                    <form class="contact-form">
                        <div class="contact-form-first">
                            <input type="text" placeholder="Name *">
                            <input type="email" placeholder="Email *">

                        </div>
                        <div class="contact-form-second">
                            <input class="f-full" placeholder="Subject *">
                        </div>
                        <div class="contact-form-third">
                            <textarea class="f-full" rows="5" placeholder="Please describe what you need."></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="contact-form-info">
                    <h2>Our address</h2>
                    <p>Duis aute irure dolor in reprehenderit ioluptate velit esse cillum dolore pariatur.</p>
                    <p>1102 Helen Estates, Guys Store, San Diego, USA. <br> (693) 650-2389 <br>
                        office@helendo.com</p>
                    <div class="contact-form-socails">
                        <h2>Follow Us On Social</h2>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>