@model Product

@{
    var subCategories = (List<SubCategory>)ViewData["SubCategories"];
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Product - Create</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
              <form enctype="multipart/form-data" method="post" class="forms-sample">
                <div class="form-group">
                  <label asp-for="Title">Title</label>
                  <input asp-for="Title" class="form-control" placeholder="Create Title">
                </div>
                <div class="form-group">
                  <label asp-for="ProductDetail.Description">Description</label>
                  <input asp-for="ProductDetail.Description" class="form-control" placeholder="Create Description">
                </div>
                <div class="form-group">
                  <label asp-for="ProductDetail.Color">Color</label>
                  <input asp-for="ProductDetail.Color" class="form-control" placeholder="Write Color">
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" type="number" placeholder="Add Price" />
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetail.Weight">Weight</label>
                    <input asp-for="ProductDetail.Weight" class="form-control" type="number" step="0.01" placeholder="Add Weight" />
                </div>
                <div class="form-group">
                    <label asp-for="MainFile">Main Image</label>
                    <input accept="image/*" class="form-control" asp-for="MainFile">
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input accept="image/*" class="form-control" asp-for="ImageFile">
                </div>
                <div class="form-group">
                    <label asp-for="SubCategoryIds">SubCategories</label>
                    <select asp-for="SubCategoryIds" multiple>
                        @foreach (var subCategory in subCategories)
                        {
                            <option value="@subCategory.Id">@subCategory.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2 text-white">Submit</button>
                <button asp-controller="product" asp-action="index" class="btn btn-secondary text-white">Cancel</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>