<section class="cart-title-section">
    <div class="container">
        <div class="cart-title-container">
            <div class="cart-title__header">
                <h1>Cart</h1>
            </div>
            <div class="cart-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Cart</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="cart-product-section">
    <div class="container">
        <table class="cart-table">
            <thead>
                <tr>
                    <th class="table-product-name">Product</th>
                    <th class="table-product-price">Price</th>
                    <th class="table-product-quantity">Quantity</th>
                    <th class="table-product-total">Total</th>
                    <th class="table-product-remove">Item Remove</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="product-name">
                        <a asp-controller="Product" asp-action="Detail">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/74x74.jpg"
                                alt="product" />
                        </a>
                        <h2><a asp-controller="Product" asp-action="Detail">Animi Dolor Pariatur</a></h2>
                    </td>
                    <td class="product-price">$10.00</td>
                    <td class="product-quantity">1</td>
                    <td class="product-total">$10.00</td>
                    <td class="product-remove"><button type="button"><i class="fa-solid fa-x"></i></button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="product-name">
                        <a asp-controller="Product" asp-action="Detail">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/74x74.jpg"
                                alt="product" />
                        </a>
                        <h2><a asp-controller="Product" asp-action="Detail">Animi Dolor Pariatur</a></h2>
                    </td>
                    <td class="product-price">$10.00</td>
                    <td class="product-quantity">1</td>
                    <td class="product-total">$10.00</td>
                    <td class="product-remove"><button type="button"><i class="fa-solid fa-x"></i></button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="product-name">
                        <a asp-controller="Product" asp-action="Detail">
                            <img src="https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/74x74.jpg"
                                alt="product" />
                        </a>
                        <h2><a asp-controller="Product" asp-action="Detail">Animi Dolor Pariatur</a></h2>
                    </td>
                    <td class="product-price">$10.00</td>
                    <td class="product-quantity">1</td>
                    <td class="product-total">$10.00</td>
                    <td class="product-remove"><button type="button"><i class="fa-solid fa-x"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="cart-clear-section">
    <div class="container">
        <div class="cart-clear-container">
            <a asp-controller="Product" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Continue Shopping</a>
            <button type="button">Clear Cart</button>
        </div>
    </div>
</section>
<section class="cart-total-section">
    <div class="container d-flex justify-content-end">
        <div class="cart-total-container col-lg-4">
            <div class="cart-total">
                <ul>
                    <li><span>Subtotal:</span><span>$40.00</span></li>
                    <li><span>Total:</span><span>$40.00</span></li>
                </ul>
            </div>
            <button type="button">Proceed to checkout</button>
        </div>
    </div>
</section>