<section class="cart-title-section">
    <div class="container">
        <div class="cart-title-container">
            <div class="cart-title__header">
                <h1>Cart</h1>
            </div>
            <div class="cart-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Cart</span></li>
                </ul>
            </div>
        </div>
    </div>
    </section>
@if(User.Identity.IsAuthenticated) {
    <section class="cart-product-section">
    <div class="container">
        <table class="cart-table">
            <thead>
                <tr>
                    <th class="table-product-name">Product</th>
                    <th class="table-product-price">Price</th>
                    <th class="table-product-remove">Item Remove</th>
                </tr>
            </thead>

            <tbody id="basket-container">
                <partial name="_CartPartial" />
            </tbody>
        </table>
    </div>
    </section>
    <section class="cart-clear-section">
    <div class="container">
        <div class="cart-clear-container">
            <a asp-controller="Product" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Continue Shopping</a>
            <button type="button">Clear Cart</button>
        </div>
    </div>
    </section>
    <section class="cart-total-section">
    <div class="container d-flex justify-content-end">
        <div class="cart-total-container col-lg-4">
            <div class="cart-total">
                <ul id="cart-total-container">
                    <partial name="_CartTotalPartial" />
                </ul>
            </div>
            <button type="button">Proceed to checkout</button>
        </div>
    </div>
    </section>
}else {
    <p class="my-5 text-center">Please Sign in or Sign Up to see your Cart!</p>
}