.header {
    background-color: #fff;
}

.login-title-section {
    width: 100%;
    padding: 80px 0;
    margin-top: 80px;
    background-color: rgb(244, 245, 247);
}

.login-title-section .login-title-container {
    display: flex;
    justify-content: space-between;
}

.login-title-section .login-title__header {
    width: 50%;
}

.login-title-section .login-title__navigation {
    width: 50%;
    display: flex;

    justify-content: flex-end;
    align-items: center;
}


.login-title-section .login-title-container ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.login-title-section .login-title-container ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.login-title-section .login-title-container ul li a::after {
    content: "/";
    padding: 15px;
}

.login-title-section .login-title-container ul li span {
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.login-section {
    padding: 155px 0;
}

.login-section .login-container {
    width: 32rem;
}

.login-section .login-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.login-section .login-container ul li {
    margin: 0 24px;
}

.login-section .login-container ul li a { 
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color:rgb(102, 102, 102);
    
}

.login-section .login-container ul li span{
    color: #000;
    font-weight: 600;
    font-size: 24px;
}

.login-section .login-container .login-inputs {
    display: flex;
    flex-direction: column;
}

.login-section .login-container .login-inputs .forgot-password {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

.login-section .login-container .login-inputs .forgot-password a {
    color: #000;
    text-decoration: none;
    transition: .3s all ease-in;
    font-weight: 600;
}

.login-section .login-container .login-inputs .forgot-password a:hover {
    color: rgb(220, 177, 74);
    transition: .3s all ease-out;
}

.login-section .login-container .login-inputs h3 {
    margin-bottom: 25px;
    font-size: 18px;
}

.login-section .login-container .login-inputs input {
    margin-bottom: 30px;
    color: rgb(102, 102, 102);
    padding: 10px 20px;
    border: 1px solid rgb(102, 102, 102);
}

.login-section .login-container .login-inputs input::placeholder {
    color: rgb(102, 102, 102);
}

.login-section .login-container .login-inputs input:focus-visible {
    outline: none;
}

.login-section .login-container .login-inputs button {
    border: none;
    padding: 14px 0;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}