.header {
    background-color: #fff;
}

.register-title-section {
    width: 100%;
    padding: 80px 0;
    margin-top: 80px;
    background-color: rgb(244, 245, 247);
}

.register-title-section .register-title-container {
    display: flex;
    justify-content: space-between;
}

.register-title-section .register-title__header {
    width: 50%;
}

.register-title-section .register-title__navigation {
    width: 50%;
    display: flex;

    justify-content: flex-end;
    align-items: center;
}


.register-title-section .register-title-container ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.register-title-section .register-title-container ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.register-title-section .register-title-container ul li a::after {
    content: "/";
    padding: 15px;
}

.register-title-section .register-title-container ul li span {
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.register-section {
    padding: 155px 0;
}

.register-section .register-container {
    width: 32rem;
}

.register-section .register-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.register-section .register-container ul li {
    margin: 0 24px;
}

.register-section .register-container ul li a { 
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color:rgb(102, 102, 102);
}

.register-section .register-container ul li span{
    color: #000;
    font-weight: 600;
    font-size: 24px;
}

.register-section .register-container .register-inputs {
    display: flex;
    flex-direction: column;

}

.register-section .register-container .register-inputs h3 {
    margin-bottom: 25px;
    font-size: 18px;
}

.register-section .register-container .register-inputs input {
    margin-bottom: 30px;
    color: rgb(102, 102, 102);
    padding: 10px 20px;
}

.register-section .register-container .register-inputs input::placeholder {
    color: rgb(102, 102, 102);
}

.register-section .register-container .register-inputs input:focus-visible {
    outline: none;
}

.register-section .register-container .register-inputs button {
    border: none;
    padding: 14px 0;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}