<section class="wishlist-title-section">
    <div class="container">
        <div class="wishlist-title-container">
            <div class="wishlist-title__header">
                <h1>Wishlist</h1>
            </div>
            <div class="wishlist-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Wishlist</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
@if (User.Identity.IsAuthenticated)
{
<section class="wishlist-product-section">
    <div class="container">
        
            <table class="wishlist-table">
                <thead>
                    <tr>
                        <th class="table-product-name">Product</th>
                        <th class="table-product-price">Unit Price</th>
                        <th class="table-product-add">Add To Cart</th>
                        <th class="table-product-remove">Item Remove</th>
                    </tr>
                </thead>

                <tbody id="wishlist-container">
                    <partial name="_WishlistPartial" />
                </tbody>
            </table>
            </div>
        </section>
        <section class="wishlist-clear-section">
            <div class="container">
                <div class="wishlist-clear-container">
                    <button type="button">
                        Clear wishlist
                    </button>
                </div>
            </div>
        </section>
 } else
 {
     <p class="my-5 text-center">Please Sign in or Sign up to see your wishlist!</p>
 }
    