<section class="product-detail-title-section">
    <div class="container">
        <div class="product-detail-title-container">
            <div class="product-detail-title__header">
                <h1>Art Deco Home</h1>
            </div>
            <div class="product-detail-title__navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><span>Art Deco Home</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="product-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://helendo.jamstacktemplates.dev/images/products/art-deco-home/585x585.jpg" alt="productImage">
            </div>
            <div class="col-lg-6">
                <div class="product-detail-content">
                    <h3>Art Deco Home</h3>
                    <span>$30.00</span>
                    <p>At vero accusamus et iusto odio dignissimos blanditiis praesentiums dolores molest.</p>
                    <div class="product-detail__action">
                        <button class="product-detail__cart" type="button">Add to cart</button>
                        <button class="product-detail__wishlist" type="button"><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="product-detail__feature">
                        <div>
                            <span>Categories:</span>
                            <span>decoration</span>
                        </div>
                        <div>
                            <span>Color:</span>
                            <span>brown</span>
                        </div>
                        <div>
                            <span>Tags:</span>
                            <span>deco</span>
                        </div>
                        <div>
                            <span>Weight:</span>
                            <span>1.2 kg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>