<section class="product-title-section">
    <div class="container">
        <div class="product-title-container">
            <div class="product-title__header">
                <h1>Product</h1>
            </div>
            <div class="product-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Product</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="card-nav">
        <div class="sorting">
            <div class="srt">
                <p>Showing 1-9 of 19</p>
                <div class="dropdown">
                    <a class="dropbtn">Sort By Default:</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-cards">
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card b-card">
                    <div class="product-image"
                        style="background-image: url('https://helendo.jamstacktemplates.dev/images/products/animi-dolor-pariatur/300x300.jpg')">
                        <div class="product-shadow-container">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button><i class="fa-solid fa-bag-shopping"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body cent">
                        <a asp-controller="Blog" asp-action="Detail" class="card-text card-text-hover">Animi Dolor Pariatur</a>
                        <p class="product-price"><span>$</span>999</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="active-btn">1</button>
            <button>2</button>
            <button>3</button>
            <button class="pg-btn">Next</button>
        </div>
    </div>
</div>