@model ProductVM

<section class="product-title-section">
    <div class="container">
        <div class="product-title-container">
            <div class="product-title__header">
                <h1>Product</h1>
            </div>
            <div class="product-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Product</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="card-nav">
        <div class="sorting">
            <div class="srt">
                <p>Showing 1-9 of 19</p>
                <div class="dropdown">
                    <a class="dropbtn">Sort By Default:</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-cards">
        <div class="row mt-3" id="product-container">
            <partial name="_ProductPartial" />
        </div>
        <div class="pagination">
            <button page-id="1" class="active-btn product-page">1</button>
            <button page-id="2" class="product-page">2</button>
        </div>
    </div>
</div>