@model LoginVM

<section class="login-title-section">
    <div class="container">
        <div class="login-title-container">
            <div class="login-title__header">
                <h1>Login</h1>
            </div>
            <div class="login-title__navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span>Login</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="login-section">
    <div class="container d-flex justify-content-center">
        <div class="login-container">
            <ul class="login-register__navigation">
                <li><span>Login</span></li>
                <li><a asp-controller="Auth" asp-action="Register">Our Register</a></li>
            </ul>
            <div class="login-inputs">
                <h3>Login your account</h3>
                <form class="form" method="post" style="display:flex; flex-direction:column;">
                   <input asp-for="Username" placeholder="Username*">
                   <input asp-for="Password" placeholder="Password*">
                    <div class="forgot-password">
                        <a href="#">Lost your password?</a>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>