<section class="login-title-section">
    <div class="container">
        <div class="login-title-container">
            <div class="login-title__header">
                <h1>Login</h1>
            </div>
            <div class="login-title__navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><span>Login</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="login-section">
    <div class="container d-flex justify-content-center">
        <div class="login-container">
            <ul class="login-register__navigation">
                <li><span>Login</span></li>
                <li><a href="register.html">Our Register</a></li>
            </ul>
            <div class="login-inputs">
                <h3>Login your account</h3>
                <input placeholder="Username" type="text">
                <input placeholder="Password" type="password">
                <div class="forgot-password">
                    <a href="#">Lost your password?</a>
                </div>
                <button type="button">Login</button>
            </div>
        </div>
    </div>
</section>