<section class="register-title-section">
    <div class="container">
        <div class="register-title-container">
            <div class="register-title__header">
                <h1>Register</h1>
            </div>
            <div class="register-title__navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><span>Register</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="register-section">
    <div class="container d-flex justify-content-center">
        <div class="register-container">
            <ul class="register-register__navigation">
                <li><a href="login.html">Login</a></li>
                <li><span>Our Register</span></li>
            </ul>
            <div class="register-inputs">
                <h3>Register an account</h3>
                <input placeholder="Username" type="text">
                <input placeholder="Email address" type="email">
                <input placeholder="Password" type="password">
                <button type="button">Register</button>
            </div>
        </div>
    </div>
</section>